In [94]:
import pandas as pd
import numpy as np

import json
import pickle
#import datetime
from datetime import datetime, date, timedelta

import warnings
warnings.filterwarnings('ignore')

In [95]:
#!pip freeze > requirements.txt

In [96]:
#coord = pd.read_excel('data/terminal_data_hackathon v4.xlsx', sheet_name='TIDS', index_col=0)
#incomes = pd.read_excel('data/terminal_data_hackathon v4.xlsx', sheet_name='Incomes', index_col='TID')
#times = pd.read_csv('data/times v4.csv')

In [97]:
today = date.today()

In [98]:
with open('CloudRun5/results_2023-05-26_2.6_0.9_500000_0.pickle', 'rb') as f:
    cl= pd.read_pickle(f)

In [27]:
cl.bags # приоритетные точки по тз, в которые не заехали

{0: set(),
 1: set(),
 2: set(),
 3: set(),
 4: set(),
 5: set(),
 6: set(),
 7: set(),
 8: set(),
 9: set(),
 10: set(),
 11: set(),
 12: set(),
 13: set(),
 14: set(),
 15: set(),
 16: set(),
 17: set(),
 18: set(),
 19: set(),
 20: set(),
 21: set(),
 22: set(),
 23: set(),
 24: set(),
 25: set(),
 26: set(),
 27: set(),
 28: set(),
 29: set(),
 30: set(),
 31: set(),
 32: set(),
 33: set(),
 34: set(),
 35: set(),
 36: set(),
 37: set(),
 38: set(),
 39: set(),
 40: set(),
 41: set(),
 42: set(),
 43: set(),
 44: set(),
 45: set(),
 46: set(),
 47: set(),
 48: set(),
 49: set(),
 50: set(),
 51: set(),
 52: set(),
 53: set(),
 54: set(),
 55: set(),
 56: set(),
 57: set(),
 58: set(),
 59: set(),
 60: set(),
 61: set(),
 62: set(),
 63: set(),
 64: set(),
 65: set(),
 66: set(),
 67: set(),
 68: set(),
 69: set(),
 70: set(),
 71: set(),
 72: set(),
 73: set(),
 74: set(),
 75: set(),
 76: set(),
 77: set(),
 78: set(),
 79: set(),
 80: set(),
 81: set(),
 82: set(),
 83: set(),
 84: set(),
 85: set(),
 86: set(),
 87: set(),
 88: set(),
 89: set(),
 90: set(),
 91: set()}

In [28]:
cl.balance # остатки

,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,2022-09-09 00:00:00,...,2022-11-21 00:00:00,2022-11-22 00:00:00,2022-11-23 00:00:00,2022-11-24 00:00:00,2022-11-25 00:00:00,2022-11-26 00:00:00,2022-11-27 00:00:00,2022-11-28 00:00:00,2022-11-29 00:00:00,2022-11-30 00:00:00
TID,,,,,,,,,,,,,,,,,,,,,
406136,160000,250000,355000,454000,561000,110000,170000,245000,334000,429000,...,302000,380000,380000,545000,545000,734000,840000,94000,169000,243000
406139,387000,490000,206000,374000,498000,576000,741000,905000,174000,262000,...,776000,929000,151000,308000,514000,696000,819000,957000,112000,291000
406145,287000,430000,136000,260000,377000,500000,640000,779000,917000,118000,...,526000,626000,805000,974000,118000,236000,350000,478000,599000,723000
406148,355000,50000,123000,176000,241000,316000,416000,53000,105000,187000,...,574000,629000,694000,85000,180000,248000,310000,310000,428000,498000
406180,597000,96000,178000,249000,72000,158000,213000,268000,343000,75000,...,215000,271000,341000,400000,105000,175000,252000,339000,398000,453000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,47000,0,0,10000,0,10000,16000,16000,41000,0,...,98000,108000,118000,132000,27000,37000,37000,82000,125000,245000
699579,236000,285000,353000,353000,0,13000,63000,63000,195000,230000,...,426000,494000,583000,664000,38000,38000,38000,142000,205000,299000
699629,67000,63000,126000,189000,64000,138000,138000,259000,322000,394000,...,611000,49000,102000,149000,203000,258000,312000,359000,421000,471000
699641,278000,63000,63000,63000,51000,51000,51000,128000,128000,168000,...,94000,142000,142000,142000,96000,96000,135000,135000,220000,265000
699664,333000,333000,333000,380000,0,43000,43000,43000,79000,114000,...,257000,18000,48000,83000,116000,116000,160000,160000,215000,215000

In [67]:
cl.day_df_dict[2]

,approx_time_cost_rub,outlier,pred_balance,priority,cost_per_service,cash_rate_per_day,all_costs,costs_without_vehicle,pred_balance_no_trust_koef,cost_per_service_no_trust_koef,cash_rate_per_day_no_trust_koef,nes_degree,penalty
TID,,,,,,,,,,,,,
406136,-654.583333,0,354947.335051,-1,-100.0,19.449169,-735.134164,-80.550831,345406.668228,-100.0,18.926393,2.0,752
406139,-531.865079,0,682945.578202,-1,-100.0,37.421676,-594.443404,-62.578324,665405.071092,-100.0,36.460552,2.0,968
406145,-606.289683,0,574857.018780,-1,-100.0,31.499015,-674.790668,-68.500985,561688.198891,-100.0,30.777436,2.0,885
406148,-592.301587,0,127165.478087,-1,-100.0,6.967971,-685.333616,-93.032029,120150.434624,-100.0,6.583585,1.0,107
406180,-498.710317,0,171373.577790,-1,-100.0,9.390333,-589.319984,-90.609667,164521.434355,-100.0,9.014873,1.0,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,-475.773810,0,9214.754100,-1,-100.0,0.504918,-575.268891,-99.495082,8377.049181,-100.0,0.459016,1.0,100
699579,-530.158730,0,329577.049180,-1,-100.0,18.059016,-612.099714,-81.940984,325524.590163,-100.0,17.836964,2.0,739
699629,-1059.404762,0,89750.561840,-1,-100.0,4.917839,-1154.486923,-95.082161,87318.692582,-100.0,4.784586,1.0,105
699641,-497.738095,0,65725.206444,-1,-100.0,3.601381,-594.136714,-96.398619,65477.460404,-100.0,3.587806,1.0,103
699664,-461.150794,0,371058.646390,-1,-100.0,20.331981,-540.818813,-79.668019,367598.769445,-100.0,20.142398,2.0,761

In [30]:
cl.over_balance_limit # терминалы, которые всё же переполнились (прогноз прироста наличности был существенно отличен от факта)

{1: {674406},
 2: set(),
 3: {605329},
 4: set(),
 5: {676981},
 6: {664161},
 7: set(),
 8: {605329},
 9: {607519},
 10: set(),
 11: {682268},
 12: {608567},
 13: {616681},
 14: {605329},
 15: set(),
 16: set(),
 17: {622398},
 18: set(),
 19: {676383},
 20: {605329},
 21: {676981, 677522},
 22: {664161},
 23: {676981},
 24: {687408},
 25: set(),
 26: {658930},
 27: {605329, 616681},
 28: {676981},
 29: {606531},
 30: set(),
 31: {605329, 616480, 686130},
 32: {406509},
 33: set(),
 34: {664165, 676981},
 35: {616681},
 36: {640027},
 37: {657936},
 38: {635757},
 39: set(),
 40: set(),
 41: {622352, 676981},
 42: {406139, 616681},
 43: {677563},
 44: {605329, 683789, 688376},
 45: {606118, 607597, 609954, 636462, 682273},
 46: set(),
 47: {638490},
 48: {676981},
 49: set(),
 50: {605329, 644016},
 51: {686118},
 52: set(),
 53: set(),
 54: set(),
 55: {605329, 637522, 687408},
 56: set(),
 57: {634024},
 58: {606531, 683117},
 59: {634558, 683756, 692611},
 60: set(),
 61: {406504},
 62: set(),
 63: {687408},
 64: set(),
 65: {643912, 668467},
 66: set(),
 67: set(),
 68: set(),
 69: set(),
 70: {646769, 692611},
 71: {676995},
 72: {686118},
 73: set(),
 74: set(),
 75: {634761, 636533},
 76: set(),
 77: {406139},
 78: {606531, 629728, 636402},
 79: {648023},
 80: set(),
 81: {636538, 676981},
 82: set(),
 83: {629806, 676981},
 84: set(),
 85: {616681, 634024, 636402, 683131},
 86: {669424},
 87: {677536, 688396, 692611, 699540},
 88: {686130},
 89: {616681, 629806, 676981, 679083},
 90: set(),
 91: {608042}}

In [103]:
lst=[]
for i in cl.over_balance_limit.values():
    lst+=list(i)

In [108]:
def create_day_route_df(obj, day_num, vehicle):
    '''Вывод датасета по маршруту одного броневика.
    Входные параметры:
    obj: класс отработавшего оптимизатора
    day_num: номер дня от 1 до 91
    vehicle: броневик, значения из списка [0,1,2,3,4] '''
    
    y=[x+1 for x in obj.route_vehicle[day_num][vehicle]]
    dist_with_service = [int(obj.distance_matrix[y[i]][y[i+1]]) for i in range(len(y)-1)]
    dist= list(map(lambda x: max(0, x-10), dist_with_service))
    
    day_route_df = pd.DataFrame(index=obj.balance.iloc[obj.route_vehicle[day_num][vehicle][1:]].index,
                            columns=['vehicle_num','tid','start_time', 'end_time', 'route_time_to_tid',
                                     'route_time_to_tid_with_service'])
    day_route_df['vehicle_num'] = vehicle
    day_route_df['tid'] = day_route_df.index
    start_day = pd.to_datetime(obj.balance.iloc[:,day_num].name)
    day_route_df.loc[:,'route_time_to_tid'] = dist
    day_route_df.loc[:,'route_time_to_tid_with_service'] = dist_with_service
    day_route_df['route_time_to_tid_with_service_cumsum'] = day_route_df.route_time_to_tid_with_service.cumsum()
    day_route_df.loc[:,'start_time'] = start_day + day_route_df.route_time_to_tid_with_service_cumsum.apply(lambda x: 
                                            timedelta(hours=8, minutes=x))
    day_route_df['end_time'] = day_route_df['start_time'] + timedelta(minutes=obj.service_time)
    return day_route_df

In [109]:
create_day_route_df(cl, 90, 0)
# расстояния в минутах округлены для удобства в бОльшую сторону (12.1 мин => 13 мин)

,vehicle_num,tid,start_time,end_time,route_time_to_tid,route_time_to_tid_with_service,route_time_to_tid_with_service_cumsum
TID,,,,,,,
657216,0,657216,2022-11-29 08:00:00,2022-11-29 08:10:00,0,0,0
698718,0,698718,2022-11-29 08:12:00,2022-11-29 08:22:00,2,12,12
681975,0,681975,2022-11-29 08:30:00,2022-11-29 08:40:00,8,18,30
649851,0,649851,2022-11-29 08:45:00,2022-11-29 08:55:00,5,15,45
636409,0,636409,2022-11-29 09:03:00,2022-11-29 09:13:00,8,18,63
683789,0,683789,2022-11-29 09:18:00,2022-11-29 09:28:00,5,15,78
689149,0,689149,2022-11-29 09:33:00,2022-11-29 09:43:00,5,15,93
698710,0,698710,2022-11-29 09:48:00,2022-11-29 09:58:00,5,15,108
682752,0,682752,2022-11-29 10:03:00,2022-11-29 10:13:00,5,15,123
629749,0,629749,2022-11-29 10:25:00,2022-11-29 10:35:00,12,22,145
616681,0,616681,2022-11-29 10:38:00,2022-11-29 10:48:00,3,13,158
668401,0,668401,2022-11-29 10:55:00,2022-11-29 11:05:00,7,17,175
653690,0,653690,2022-11-29 11:22:00,2022-11-29 11:32:00,17,27,202
669434,0,669434,2022-11-29 11:41:00,2022-11-29 11:51:00,9,19,221
606128,0,606128,2022-11-29 11:52:00,2022-11-29 12:02:00,1,11,232
636077,0,636077,2022-11-29 12:07:00,2022-11-29 12:17:00,5,15,247
659661,0,659661,2022-11-29 12:20:00,2022-11-29 12:30:00,3,13,260
407025,0,407025,2022-11-29 12:40:00,2022-11-29 12:50:00,10,20,280
686161,0,686161,2022-11-29 12:55:00,2022-11-29 13:05:00,5,15,295
687662,0,687662,2022-11-29 13:18:00,2022-11-29 13:28:00,13,23,318
607599,0,607599,2022-11-29 13:43:00,2022-11-29 13:53:00,15,25,343
622379,0,622379,2022-11-29 13:54:00,2022-11-29 14:04:00,1,11,354
608061,0,608061,2022-11-29 14:24:00,2022-11-29 14:34:00,20,30,384
608071,0,608071,2022-11-29 14:38:00,2022-11-29 14:48:00,4,14,398
605329,0,605329,2022-11-29 14:52:00,2022-11-29 15:02:00,4,14,412
619514,0,619514,2022-11-29 15:19:00,2022-11-29 15:29:00,17,27,439
634656,0,634656,2022-11-29 15:33:00,2022-11-29 15:43:00,4,14,453
629701,0,629701,2022-11-29 15:48:00,2022-11-29 15:58:00,5,15,468
606001,0,606001,2022-11-29 16:03:00,2022-11-29 16:13:00,5,15,483
637527,0,637527,2022-11-29 16:18:00,2022-11-29 16:28:00,5,15,498
676359,0,676359,2022-11-29 16:40:00,2022-11-29 16:50:00,12,22,520
627726,0,627726,2022-11-29 17:09:00,2022-11-29 17:19:00,19,29,549
622450,0,622450,2022-11-29 17:23:00,2022-11-29 17:33:00,4,14,563
698628,0,698628,2022-11-29 17:38:00,2022-11-29 17:48:00,5,15,578
607545,0,607545,2022-11-29 18:00:00,2022-11-29 18:10:00,12,22,600
622373,0,622373,2022-11-29 18:12:00,2022-11-29 18:22:00,2,12,612
607542,0,607542,2022-11-29 18:30:00,2022-11-29 18:40:00,8,18,630
644568,0,644568,2022-11-29 19:29:00,2022-11-29 19:39:00,49,59,689
608007,0,608007,2022-11-29 19:46:00,2022-11-29 19:56:00,7,17,706

In [110]:
%%time
report_route = pd.DataFrame()
for d in range(1, 92):
    for v in range(5):
        report_route = pd.concat([report_route, create_day_route_df(cl, d, v)])

Wall time: 2.51 s

In [111]:
report_route

,vehicle_num,tid,start_time,end_time,route_time_to_tid,route_time_to_tid_with_service,route_time_to_tid_with_service_cumsum
TID,,,,,,,
677522,0,677522,2022-09-01 08:00:00,2022-09-01 08:10:00,0,0,0
677559,0,677559,2022-09-01 08:36:00,2022-09-01 08:46:00,26,36,36
634652,0,634652,2022-09-01 08:53:00,2022-09-01 09:03:00,7,17,53
634703,0,634703,2022-09-01 09:34:00,2022-09-01 09:44:00,31,41,94
688325,0,688325,2022-09-01 10:04:00,2022-09-01 10:14:00,20,30,124
...,...,...,...,...,...,...,...
665569,4,665569,2022-11-30 18:18:00,2022-11-30 18:28:00,8,18,618
622276,4,622276,2022-11-30 18:35:00,2022-11-30 18:45:00,7,17,635
639707,4,639707,2022-11-30 18:48:00,2022-11-30 18:58:00,3,13,648
619201,4,619201,2022-11-30 19:32:00,2022-11-30 19:42:00,34,44,692
606168,4,606168,2022-11-30 19:49:00,2022-11-30 19:59:00,7,17,709

In [18]:
cl.balance

,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,2022-09-09 00:00:00,...,2022-11-21 00:00:00,2022-11-22 00:00:00,2022-11-23 00:00:00,2022-11-24 00:00:00,2022-11-25 00:00:00,2022-11-26 00:00:00,2022-11-27 00:00:00,2022-11-28 00:00:00,2022-11-29 00:00:00,2022-11-30 00:00:00
TID,,,,,,,,,,,,,,,,,,,,,
406136,160000,259000.0,374500.0,483400.0,601100.0,110000.0,176000.0,258500.0,356400.0,460900.0,...,754500.0,840300.0,840300.0,165000.0,165000.0,372900.0,489500.0,592900.0,675400.0,756800.0
406139,387000,500300.0,206000.0,390800.0,527200.0,613000.0,794500.0,974900.0,174000.0,270800.0,...,839600.0,153000.0,319100.0,491800.0,718400.0,918600.0,123000.0,274800.0,398000.0,594900.0
406145,287000,444300.0,593900.0,124000.0,252700.0,388000.0,542000.0,694900.0,846700.0,976500.0,...,745600.0,855600.0,179000.0,364900.0,494700.0,624500.0,749900.0,890700.0,121000.0,257400.0
406148,355000,50000.0,130300.0,188600.0,260100.0,342600.0,100000.0,158300.0,215500.0,305700.0,...,119800.0,180300.0,251800.0,345300.0,449800.0,524600.0,592800.0,592800.0,722600.0,70000.0
406180,597000,96000.0,186200.0,264300.0,343500.0,438100.0,55000.0,115500.0,198000.0,280500.0,...,480600.0,542200.0,619200.0,59000.0,174500.0,251500.0,336200.0,431900.0,496800.0,557300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,47000,0.0,0.0,10000.0,10000.0,21000.0,6000.0,6000.0,33500.0,33500.0,...,91300.0,102300.0,113300.0,128700.0,158400.0,10000.0,10000.0,59500.0,106800.0,238800.0
699579,236000,289900.0,364700.0,0.0,0.0,14300.0,50000.0,50000.0,195200.0,233700.0,...,342600.0,417400.0,515300.0,604400.0,38000.0,38000.0,38000.0,152400.0,221700.0,325100.0
699629,67000,63000.0,132300.0,201600.0,272000.0,353400.0,0.0,133100.0,202400.0,281600.0,...,348400.0,402300.0,460600.0,512300.0,571700.0,632200.0,54000.0,105700.0,173900.0,228900.0
699641,278000,63000.0,63000.0,63000.0,119100.0,119100.0,0.0,84700.0,84700.0,128700.0,...,183700.0,236500.0,236500.0,236500.0,342100.0,0.0,42900.0,42900.0,136400.0,185900.0
699664,333000,333000.0,333000.0,384700.0,384700.0,432000.0,0.0,0.0,39600.0,78100.0,...,48800.0,68600.0,101600.0,140100.0,176400.0,176400.0,224800.0,224800.0,285300.0,285300.0